@model OrderViewModel

@foreach (var product in Model.Products)
{

    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src=@product.ProductImage class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">@product.Quantity x @product.ProductName - @product.Price lv.</h5>
                    <p class="card-text">@product.ProductDescription</p>
                    @foreach (var topping in product.OrderProductToppings)
                    {
                        <p class="card-text"><small class="text-muted">- @topping.Name</small></p>
                    }
                    <p class="card-text"><small class="text-dark">Comment: @product.Comment</small></p>
                </div>
            </div>
        </div>
    </div>
}
<h5 class="card-title">Total Price: @Model.SumPrice lv.</h5>


<ul class="list-group">
    <li class="list-group-item">User full name: @Model.FullName</li>
    <li class="list-group-item">Created on: @Model.CreatedOn</li>
    <li class="list-group-item">User e-mail: @Model.Email</li>
    <li class="list-group-item">User phone number: @Model.PhoneNumber</li>
    <li class="list-group-item">User city: @Model.City</li>
    <li class="list-group-item">User district: @Model.District</li>
    <li class="list-group-item">User street and number: @Model.StreetAndNumber</li>
    <li class="list-group-item">User note: @Model.Note</li>
</ul>