@model IEnumerable<ProductsListingModel>

<div class="row">
    @foreach (var product in Model)
    {
        <div class="card" style="width: 18rem;">
            <img src="@product.ImageUrl" class="card-img-top" alt="@product.Name @product.Price">
            <div class="card-body">
                <h5 class="card-title">@product.Name</h5>
                <p class="card-text">@product.Description</p>
                <a href="#" class="btn btn-primary"></a>
            </div>
        </div>
    }
</div>


