@model ToBasketFormModel


@foreach (var product in Model.Product)
{
    <section class="py-5">
        <div class="container">
            <h1 style="margin: 2%; text-align: left;">@product.Name</h1>
            <div>
                <p class="card-text">@product.Description</p>
                <div class="form-group">
                    <img src="@product.ImageUrl" class="img-fluid">
                </div>
                <div class="form-group">
                    <form method="post">
                        @foreach (var topping in Model.Toppings)
                        {
                            
                            <input name="AreChecked" type="checkbox" value="@topping.Name" />@topping.Name <br />
                        }
                        <button>Click</button>
                    </form>
                    <label asp-for="PizzaSizeId"></label>
                    <select asp-for="PizzaSizeId" class="form-control">
                        @foreach (var pizzaSize in Model.PizzaSizes)
                        {
                            <option value="@pizzaSize.Id">@pizzaSize.Size</option>
                        }
                    </select>
                    <span asp-validation-for="PizzaSizeId" class="small text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Comment"></label>
                    <textarea asp-for="Comment" rows="4" class="form-control" placeholder="Without onion, without mushrooms, etc..."></textarea>
                </div>

                <input class="btn btn-primary" type="submit" value="Add to basket" />
            </div>
        </div>
    </section>
}








@*@model IEnumerable<OrderProductFormModel>

    @{
        ViewBag.Title = "Add product to the basket";
    }

    <div class="row">
        @foreach (var product in Model)
        {
            <div class="card" style="width: 18rem;">
                <img src="@product.ImageUrl" class="card-img-top" alt="@product.Name @product.Price">
                <div class="card-body">
                    <h5 class="card-title">@product.Name</h5>
                    <p class="card-text">@product.Description</p>
                    <div class="form-group">
                        <label></label>
                        <select class="form-control">
                            <option src="@product.PizzaMediumSize"></option>
                            <option src="@product.PizzaLargeSize"></option>
                        </select>
                    </div>

                    <button class="btn btn-primary" id="toppings button">Add to the basket</button>
                </div>
            </div>
        }
    </div>*@